body {
	background: #e6e5e4;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 20px;
	color: #a521f1;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

p {
	font-size: 12px;
}

a {
	color: #a521f1;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: underline;
}

nav {
	width: 100%;
	background: black;
	overflow: auto;
}

nav a {
	color: #a521f1;
	width: 100px;
	display: block;
	padding: 15px 15px;
	text-align: center;
	text-decoration: underline;
}

nav a:hover {
	background: #a521f1;
	transition: 0.5s;
	text-decoration: underline;
}

.mainlogo img{
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 48px;
}