<html>
  <head>
    <title>Praticando JavaScript com Vue.js</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MATERIALIZE 1.0.0 CSS COMPILADO E MINIFICADO -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- GOOGLE MATERIAL ICONES -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
      table.highlight>tbody>tr:hover {
        background-color: #9fa8da !important;
        /* transform: scaleY(1.1); */
      }

      table.highlight>tbody>tr {
        /* VOCÊ PODE IGNORAR O !important AQUI JÁ QUE O MATERIALIZE NÃO DEFINE UMA COR PADRÃO */
        color: rgb(0, 0, 0) !important;
        /* transition: transform 250ms; */
      }

      ::placeholder {
        color: #606060;
      }

      #visor {
        font-size: 30px;
      }

      #modo-classico #botoes-classico div {
        height: 45px;
        border-style: solid;
        border-width: 2px;
        border-color: #c5cae9;
        font-weight: bold;
        font-size: 20px;
      }

      #modo-classico, #modo-basico, #historico {
        max-height: 50vh;
        overflow-y: auto;
      }

      #painel-funcoes {
        padding: 8px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .no-margin-bottom {
        margin-bottom:0px !important
      }

      .no-padding {
        padding:0px !important
      }
    </style>
  </head>
  <body>
    <div id="calcula-vue" class="container">
      <div class="row">
        <h5 class="center-align">Praticando JavaScript Com Vue.js</h5>
        <div id="calculadora"
          class="col l6 s12"
        >
          <div id="abas"
            class="row no-margin-bottom"
          >
            <div 
              class="col s6 white-text waves-effect waves-light center-align"
              :class="{ 'darken-2': modo == 'basico',
                        'teal': cor == 'teal',
                        'blue': cor == 'blue',
                        'deep-purple': cor == 'deep-purple',
                        'red': cor == 'red',
                        'pink': cor == 'pink'
                      }"
              @click="verModo('basico')"
            >
              MODO BÁSICO
            </div>
            <div 
              class="col s6 white-text waves-effect waves-light center-align"
              :class="{ 'darken-2': modo == 'classico',
                        'teal': cor == 'teal',
                        'blue': cor == 'blue',
                        'deep-purple': cor == 'deep-purple',
                        'red': cor == 'red',
                        'pink': cor == 'pink'
                      }"
              @click="verModo('classico')"
            >
              MODO CLÁSSICO
            </div>
          </div>
          <div id="visor"
            class="row no-margin-bottom indigo lighten-4 right-align"
          >
            {{ resultado }}
          </div>
          <div id="modo-basico"
            class="row no-margin-bottom"
            v-if="modo == 'basico'"
          >
            <div id="numeros"
              class="col s12 no-padding"
            >
              <input v-model="numero1" placeholder="Digite o primeiro número">
              <input v-model="numero2" placeholder="Digite o segundo número">
            </div>
            <div id="operacoes"
              class="col s12 no-padding"
            >
              <button
                type="button"
                class="col s3 btn-small waves-effect waves-light darken-2"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="calcular('+');"
              >
                <i class="large material-icons">add</i>
              </button>
              <button
                type="button"
                class="col s3 btn-small waves-effect waves-light darken-2"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="calcular('-');"
              >
                <i class="large material-icons">remove</i>
              </button>
              <button
                type="button"
                class="col s3 btn-small waves-effect waves-light darken-2"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="calcular('*');"
              >
                <i class="large material-icons">clear</i>
              </button>
              <button
                type="button"
                class="col s3 btn-small waves-effect waves-light darken-2"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="calcular('/');"
              >
                <i class="large material-icons">call_split</i>
              </button>
            </div>
          </div>
          <div id="modo-classico"
            class="row no-margin-bottom"
            v-if="modo == 'classico'"
          >
            <div id="expressao"
              class="col s12 no-padding"
            >
              <input v-model="expressao" placeholder="Digite uma Expressão" v-on:keyup.enter="calcular('expressao');">
            </div>
            <div id="botoes-classico"
              class="col s12 no-padding"
            >
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('1');"
              >
                1
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('2');"
              >
                2
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('3');"
              >
                3
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('4');"
              >
                4
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('5');"
              >
                5
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('6');"
              >
                6
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('7');"
              >
                7
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('8');"
              >
                8
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('9');"
              >
                9
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('0');"
              >
                0
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('(');"
              >
                (
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao(')');"
              >
                )
              </div>
              <div
                class="col s4 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('.');"
              >
                .
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao(' + ');"
              >
                +
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao(' - ');"
              >
                -
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao(' * ');"
              >
                *
              </div>
              <div
                class="col s2 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao(' / ');"
              >
                /
              </div>
              <div
                class="col s4 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('apaga');"
              >
                ←
              </div>
              <div
                class="col s4 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="construirExpressao('');"
              >
                C
              </div>
              <div
                class="col s4 white-text waves-effect waves-light darken-2 center-align"
                :class="{ 'teal': cor == 'teal',
                          'blue': cor == 'blue',
                          'deep-purple': cor == 'deep-purple',
                          'red': cor == 'red',
                          'pink': cor == 'pink'
                        }"
                v-on:click="calcular('expressao');"
              >
                =
              </div>
            </div>
          </div>
        </div>
        <div id="historico"
          class="col l6 s12"
        >
          <div 
            class="row no-margin-bottom"
          >
            <table id="tabela-historico" class="striped highlight centered indigo lighten-4"> <!-- ALGUMAS TAGS TÊM LIMITAÇÃO SOBRE QUAIS TAGS PODEM EXISTIR POR DENTRO, <table> É UMA DELAS -->
              <thead>
                <tr>
                  <th style="width: 80%;">
                    HISTÓRICO DE CÁLCULO
                  </th>
                  <th style="width: 20%;">
                    <button 
                      class="btn-small waves-effect waves-light pink lighten-1 tooltipped"
                      data-position="left" data-tooltip="Limpar histórico"
                      v-on:click="limparHistorico"
                    >
                      <i class="small material-icons">delete_sweep</i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- RENDERIZANDO DIRETAMENTE, SEM USAR UM COMPONENTE -->
                <!-- <tr
                  class="scale-transition"
                  v-for="(item, indice) in arrayhistorico"
                  v-bind:key="indice"
                >
                  <td>
                    {{ item.registro }}
                  </td>
                </tr> -->
                <!-- USANDO COMPONENTE PELO ATRIBUTO is -->
                <tr
                  class="scale-transition"
                  is="linha-historico"
                  v-for="(item, indice) in arrayhistorico"
                  v-bind:key="indice"
                  v-bind:itemhistorico="item"
                  v-bind:indice="indice"
                  v-bind:remover-historico="removerHistorico"
                >
                </tr>
                <!-- USANDO COMPONENTE PELA TAG <template> COM A TAG <component> PELO ATRIBUTO is -->
                <!-- <template>
                  <component
                    class="scale-transition"
                    is="linha-historico"
                    v-for="(item, indice) in arrayhistorico"
                    v-bind:key="indice"
                    v-bind:itemhistorico="item"
                    v-bind:indice="indice"
                    v-bind:remover-historico="removerHistorico"
                  >
                  </component>
                </template> -->
                <!-- USANDO COMPONENTE PELA TAG <template> COM A TAG <nome-do-componente> -->
                <!-- <template>
                  <linha-historico
                    class="scale-transition"
                    v-for="(item, indice) in arrayhistorico"
                    v-bind:key="indice"
                    v-bind:itemhistorico="item"
                    v-bind:indice="indice"
                    v-bind:remover-historico="removerHistorico"
                  >
                  </linha-historico>
                </template> -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="fixed-action-btn" style="left: 23px; width: 56px">
          <a class="btn-floating btn-large"
          :class="{ 'teal': cor == 'teal',
                    'blue': cor == 'blue',
                    'deep-purple': cor == 'deep-purple',
                    'red': cor == 'red',
                    'pink': cor == 'pink'
                  }"
          >
            <i class="large material-icons">color_lens</i>
          </a>
          <ul>
            <li @click="corBotoes('teal');">
              <a class="btn-floating teal darken-2 waves-effect waves-light">
                <i class="material-icons">invert_colors</i>
              </a>
            </li>
            <li @click="corBotoes('blue');">
              <a class="btn-floating blue darken-2 waves-effect waves-light">
                <i class="material-icons">invert_colors</i>
              </a>
            </li>
            <li @click="corBotoes('deep-purple');">
              <a class="btn-floating deep-purple darken-2 waves-effect waves-light">
                <i class="material-icons">invert_colors</i>
              </a>
            </li>
            <li @click="corBotoes('red');">
              <a class="btn-floating red darken-2 waves-effect waves-light">
                <i class="material-icons">invert_colors</i>
              </a>
            </li>
            <li @click="corBotoes('pink');">
              <a class="btn-floating pink waves-effect waves-light">
                <i class="material-icons">invert_colors</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- MATERIALIZE 1.0.0 JS COMPILADO E MINIFICADO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- VUE.JS 2.6.14 DESENVOLVIMENTO -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- VUE.JS 2.6.14 PRODUÇÃO -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <script>
      Vue.component('linha-historico', {
          props: [
            'itemhistorico',
            'indice',
            'removerHistorico'
          ],

          template:  `<tr>
                        <td
                          style="width: 80%; text-align: right"
                        >
                          {{ itemhistorico.registro }}
                        </td>
                        <td
                          style="width: 20%"
                        >
                          <button
                            type="button"
                            class="btn-small waves-effect waves-light pink lighten-1 tooltipped"
                            data-position="left" data-tooltip="Remover do Histórico"
                            v-on:click="removerHistorico(indice)"
                          >
                            <i class="small material-icons">delete</i>
                          </button>
                        </td>
                      </tr>`
      });

      let CalculaVue = new Vue({
        el: '#calcula-vue',

        data: {
          arrayhistorico: [],
          cor: 'teal',
          expressao: '',
          funcoes: '',
          modo: 'basico',
          numero1: '',
          numero2: '',
          resultado: '_'
        },

        mounted() {
          this.checarCor();
          M.FloatingActionButton.init(this.$el.querySelectorAll(".fixed-action-btn"), { direction: 'right', hoverEnabled: false, toolbarEnabled: false });
          M.Modal.init(this.$el.querySelectorAll(".modal"));
          M.Tooltip.init(this.$el.querySelectorAll(".tooltipped"), {enterDelay: 500, exitDelay: 0, inDuration: 250, outDuration: 0});
        },

        updated() {
          M.Tooltip.init(this.$el.querySelectorAll(".tooltipped"), {enterDelay: 500, exitDelay: 0, inDuration: 250, outDuration: 0});
        },

        methods: {
          verModo(modo) {
            this.modo = modo;
          },

          construirExpressao(caractere) {
            if (caractere == '') {
              this.expressao = '';
            } else if (caractere == 'apaga') {
              this.expressao = this.expressao.slice(0, -1);
            } else {
              this.expressao += caractere;
            }
          },

          calcular(operacao) {
            let exp = this.expressao;
            let n1 = null;
            let n2 = null;
            let res = null;
            n1 = Number(this.numero1.replace(/[^0-9.]/g,'').replace(/\.(?=.*\.)/, ''));
            n2 = Number(this.numero2.replace(/[^0-9.]/g,'').replace(/\.(?=.*\.)/, ''));
            if (n1 == '' || n1 == null || n1 == undefined) { n1 = NaN; }
            if (n2 == '' || n2 == null || n2 == undefined) { n2 = NaN; }
            if (operacao == '+') { res = n1 + n2; }
            if (operacao == '-') { res = n1 - n2; }
            if (operacao == '*') { res = n1 * n2; }
            if (operacao == "/") { res = n1 / n2; }
            if (operacao == 'expressao' && this.expressao != '') {
              try {
                res = eval(exp);
                this.resultado = res;
                return this.adicionarHistorico(exp, '', '', res, '');
              } catch (erro) {
                return M.toast({html: 'Expressão Inválida!', classes: 'white-text red darken-2 z-depth-2'});
              }
            } else if (operacao == 'expressao' && this.expressao == '') {
              return M.toast({html: 'Expressão Inválida!', classes: 'white-text red darken-2 z-depth-2'});
            }
            if (isNaN(res)) {
              return M.toast({html: 'Expressão Inválida!', classes: 'white-text red darken-2 z-depth-2'});
            } else {
              return this.adicionarHistorico('', n1, n2, res, operacao);
            }
          },

          adicionarHistorico(expressao, numero1, numero2, resultado, operacao) {
            let historico = '';
            if (expressao != '') {
              historico = expressao + ' = ' + resultado;
            } else {
              historico = numero1 + ' ' + operacao + ' ' + numero2 + ' = ' + resultado;
            }
            this.arrayhistorico.push({ "registro":historico });
          },

          removerHistorico(indice) {
            this.$el.querySelectorAll('.tooltipped').forEach(el => {el.M_Tooltip.close()});
            this.arrayhistorico.splice(indice, 1);
            M.toast({html: 'Registro Removido!', classes: 'white-text blue darken-2 z-depth-2'});
          },

          limparHistorico() {
            const itens = document.getElementsByClassName("scale-transition");
            for (var i=0; i < itens.length; i++) {
              itens[i].className = "scale-transition scale-out";
            }
            setTimeout(() => {this.arrayhistorico = [];}, 400);
            M.toast({html: 'Histórico Limpo!', classes: 'white-text blue darken-2 z-depth-2'});
          },

          corBotoes(cor) {
            this.cor = cor;
            window.localStorage.setItem('cor', cor);
          },

          checarCor() {
            if (window.localStorage.getItem('cor') != null) {
              this.cor = window.localStorage.getItem('cor');
            }
          }
        }
      });
    </script>
  </body>
</html>